*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

body{
    background-image: url(https://cdn.pixabay.com/photo/2016/11/23/15/04/wooden-floor-1853403_1280.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    padding: 22px 120px;
}

header{
    width: 100%;
    background-color: white;
    position:relative;
}

header img{
    width: 100%;
    object-fit: cover;
    object-position: left;
    padding: 10px;
}

.logo{
    width: 50%;
    text-align: center;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.logo img{
    width: 80%;
}

.logo h1{
    color: white;
    font-size: 26px;
}

nav{
    background-color: #504741;
}

ul{
 text-align: center;
 padding: 12px 0;
 vertical-align: middle;
}

li{
    display: inline-block;
    padding: 0 15px;
    color: white;
    font-size: 18px;
}


.container-main{
    margin: 20px 0;
}

aside{
    width: 15%;
    float: left;
}

main{
    width: 70%;
    float: left;
    padding: 0 50px;
}

aside .link, .widget{
    background-color:white;
    margin-bottom: 10px;
    border: 6px solid white;
    border-radius: 5px;
}

.icona{
    width: 10%;
    background-color: orange;
    float: left;
}

.icona i{
    color:white;
    padding: 5px;
}

aside h3{
    width: 90%;
    font-size: 22px;
    padding-left: 20px;
    float: left;
    margin-bottom: 10px;
}

aside .text{
    color: rgb(58, 138, 23);
    padding-bottom: 10px;
    text-align: left;
    font-size: 18px;
}

aside .text:hover{
    text-decoration: underline;
}

main .text{
    border: 6px solid white;
    border-radius: 5px;
    background-color: white;
    padding: 15px;
}

.text h2{
    font-size: 30px;
    margin-bottom: 55px;
}

.right h3{
    margin-bottom: 35px;
}

.text, .widget p{
    font-size: 18px;
    text-align: justify;
    vertical-align: middle;
}

.right .widget{
    padding: 15px;
}

footer{
    width: 100%;
    float: left;
    margin-top: 30px;
}

.container-footer{
    width: 100%;
    background-color: lightgrey;
    padding: 0 10px;
    float: left;
}

.intestazione-footer{
    text-align: center;
    color: grey;
}

hr{
    border: 2px solid grey;
}

.icone{
    padding: 50px 170px;
    float: left;
}

footer i{
    color: grey;
}
